header {
  position: sticky;
  top: 0;
  background: var(--clr-neutral-900);
  color: white;
}

header .inside {
  display: grid;
  align-items: center;
  gap: 0.25rem;

  text-align: center;

  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    text-align: left;
  }
}

.page-title {
  font-size: 3rem;
  font-family: var(--ff-title);
}
