.home-hero-section {
  display: grid;
  place-items: center;

  padding: 5vh 5vw;

  background: var(--clr-neutral-100);

  .inside {
    display: grid;
    align-items: center;
    grid-auto-flow: dense;
    gap: 5vh 5vw;

    @media screen and (min-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
  }

  .hero-text-wrapper {
    display: grid;
    gap: 3vh;

    .hero-title {
      font-family: var(--ff-title);
      font-size: 2.5rem;
      line-height: 1;
    }

    .hero-paragraph {
      font-size: 1.25rem;
    }

    // anchor tag that wraps around hero-button
    a {
      display: flex;
      text-decoration: none;
    }

    .hero-button {
      flex: 1;

      text-transform: uppercase;
      font-size: 1.5rem;

      border-radius: 0;
      max-width: 75%;
    }
  }

  .home-hero-image {
    max-width: 100%;
    max-height: 50vh;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--border-radius-100);
  }
}
