@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --ff-title: "Merriweather", serif;
  --ff-main: "Roboto Condensed", sans-serif;

  --fw-b: 700;
  --fw-r: 400;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f3f3f3;
  --clr-neutral-300: #a1a1a1;
  --clr-neutral-800: #1d1d1d;
  --clr-neutral-900: #111111;
  --clr-green: #26a46e;
  --clr-blue: #1b65c5;
  --clr-red: #b82323;

  --border-radius-100: 0.5rem;

  --box-shadow-100: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --box-shadow-200: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  --transition: all 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // debugging:
  // border: 1px solid #cdcdcd;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--ff-main);
  color: var(--clr-neutral-900);
  background: var(--clr-neutral-200);
  font-weight: var(--fw-l);
}

p {
  line-height: 1.7;
}

img {
  width: 100%;
}
