nav ul {
  list-style: none;

  display: flex;
  gap: min(3rem, 5vw);
}

nav a,
nav a:visited,
nav a:active {
  font-style: none;
  text-decoration: none;
  font-size: 1.1rem;

  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;

  color: var(--clr-neutral-100);

  &:before,
  &:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: var(--clr-neutral-100);
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  &:before {
    top: 0px;
    transform: translateY(10px);
  }

  &:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }
}
